.todos {
	display: block;
	/*justify-content: flex-start;*/
	margin-left:20px;
	/* height : 40%; */
}

p{
	text-overflow: ellipsis;
	white-space: pre-wrap;
}
.actions{
	
	display: block;
	
}
.section {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	float: right;
}

a {
	color: white;
	text-decoration: none;
}

.sidebar {
	background-color: #57afe3;
	width: 15%;
	height: 100%;
	float: left;
	margin: 0;
	color: white;
	box-shadow: 1px 1px 7px 5px gray;
	margin-bottom: 20em;
}

.sidebar-heading {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1.5 em;
}

li {
	font-family: sans-serif;
	padding: 3px;
}

li:hover {
	list-style: lower-roman;
	color: black;
	font-size: large;
}

body {
	margin: 0;
}